<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido Sistema Dictaminadora{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('resource/css/normalize.css')  }}" rel="stylesheet" />
        <link href="{{  asset('resource/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('resource/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

      {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body role="document">
        <div class="container theme-showcase" role="main" id="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}

        <script src="{{ asset('resource/js/jquery-2.2.2.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('resource/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('resource/js/highcharts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('resource/js/exporting.js') }}" type="text/javascript"></script>
       {% endblock %}
    </body>
</html>
