{% extends 'base.html.twig' %}

{% block body %}
    <h1>Corrección de la Convocatoria</h1>

    {{ form_start(edit_form) }}
    <table width="100%">
        <tbody>
        <tr>
            <td colspan="3" width="50%"></td>

            <td class="table-bordered text-right">
                {{ form_label(edit_form.clasificacion,"PARA: ") }}
                {{ form_widget(edit_form.clasificacion) }}
                {{ form_errors(edit_form.clasificacion) }}</td>

        </tr>
        </tbody>
    </table>

    <br />


    <table width="100%">
        <tbody>
        <tr>
            <td colspan="3" width="50%"></td>

            <td class="table-bordered text-center">
                {% if is_granted(expression('"ROLE_ASISTENTEDIV" in roles or "ROLE_ASISTENTEDEP" in roles ')) %}
                    {{ form_label(edit_form.numConcurso,"No. EC. ") }}
                    {{ form_widget(edit_form.numConcurso) }}
                <div class="alert-danger">  {{ form_errors(edit_form.numConcurso) }} </div>
                {% else %}
                    No. EC.
                {% endif %}
            </td>

            <td class="table-bordered text-center">
                {{ form_label(edit_form.createAt,"FECHA:") }}
                {{ form_widget(edit_form.createAt) }}
                {{ form_errors(edit_form.createAt) }}</td>
        </tr>

        </tbody>
    </table>
    <br />
    <TABLE WIDTH="90%" align="center" class="table table-bordered">



        <tr>
            <td colspan="2">

                {{ form_label(edit_form.categoria) }}
                {{ form_widget(edit_form.categoria) }}
                {{ form_errors(edit_form.categoria) }}

            </td>
            <td>

                {{ form_label(edit_form.tiempoDedicacion) }}
                {{ form_widget(edit_form.tiempoDedicacion) }}
                {{ form_errors(edit_form.tiempoDedicacion) }}

            </td>


        </tr>

        <tr>
            <td>

                {{ form_label(edit_form.tpHclase,"DE CLASE:  ") }}
                {{ form_widget(edit_form.tpHclase) }}
                {{ form_errors(edit_form.tpHclase) }}

            </td>
            <td>

                {{ form_label(edit_form.tpHacademia,"DE OTRAS ACTIVIDADES ACADÉMICAS:  ") }}
                {{ form_widget(edit_form.tpHacademia) }}
                {{ form_errors(edit_form.tpHacademia) }}

            </td>
            <td>

                {{ form_label(edit_form.tpHayudantia,"DE AYUDANTÍA:  ") }}
                {{ form_widget(edit_form.tpHayudantia) }}
                {{ form_errors(edit_form.tpHayudantia) }}

            </td>

        </tr>



        <tr>
            <td colspan="2">

                {{ form_label(edit_form.unidad) }}
                {{ form_widget(edit_form.unidad) }}
                {{ form_errors(edit_form.unidad) }}

            </td>
            <td>

                <strong>DIVISION</strong> <br />
                {{ concurso.departamento.division }}

            </td>


        </tr>

        <tr>
            <td colspan="2">

                {{ form_label(edit_form.departamento) }}
                {{ form_widget(edit_form.departamento) }}
                {{ form_errors(edit_form.departamento) }}

            </td>

            <td >

                {{ form_label(edit_form.areaDepartamental) }}
                {{ form_widget(edit_form.areaDepartamental) }}
                {{ form_errors(edit_form.areaDepartamental) }}

            </td>

        </tr>

        <tr>
            <td>
                <strong>SALARIO</strong> <br>
                {{  form_label(edit_form.salarioA,"DE: " ) }}
                {{ form_widget(edit_form.salarioA) }}
                <div class="alert-danger">{{ form_errors(edit_form.salarioA) }}</div>

            </td>
            <td>
                <br />
                {{  form_label(edit_form.salarioB,"A: ") }}
                {{ form_widget(edit_form.salarioB) }}
                <div class="alert-danger">{{ form_errors(edit_form.salarioB) }}</div>


            </td>
            <td>
                <br />
                {{ form_label(edit_form.horario) }}
                {{ form_widget(edit_form.horario) }}
                {{ form_errors(edit_form.horario) }}


            </td>


        </tr>

        <tr>
            <td> <br />
                <strong> DURACIÓN DE <br /> LA CONTRATACIÓN</strong>
            </td>
            <td>
                <strong>FECHA DE: </strong> <br>
                {{  form_label(edit_form.fechaIn,"INGRESO " ) }}
                {{ form_widget(edit_form.fechaIn) }}
                <div class="alert-danger">{{ form_errors(edit_form.fechaIn) }}</div>



            </td>
            <td>
                <strong>FECHA DE: </strong> <br>
                {{ form_label(edit_form.fechaTer,"TERMINACION DE LABORES ") }}
                {{ form_widget(edit_form.fechaTer) }}
                <div class="alert-danger">{{ form_errors(edit_form.fechaTer) }}</div>



            </td>


        </tr>

    </TABLE>

    <br><br>

    <TABLE WIDTH="90%" align="center" class="table table-bordered">
        <tr>
            <td align="right">
                <div id="contador"></div>
            </td> <td align="left"><strong>NUMERO DE CARACTERES PERMITIDOS</strong></td>
            </tr>
        <tr>
          <div id="comment"> <td colspan="2">
                {{ form_label(edit_form.actividades,"FUNCIONES A REALIZAR") }}
                {{ form_widget(edit_form.actividades,{'attr':{
                    'class':'form-control',
                    'rows' :10,
                    'cols' :20,
                    'maxlength' : 2200,

                }}) }}
                {{ form_errors(edit_form.actividades) }}


            </td></div>
        </tr>

        <tr>
            <td>
                {{ form_label(edit_form.aConocimiento,"AREA DE CONOCIMIENTO") }}
                {{ form_widget(edit_form.aConocimiento) }}
                {{ form_errors(edit_form.aConocimiento) }}


            </td>
            <td>
                {{ form_label(edit_form.disciplina,"DISCIPLINA") }}
                {{ form_widget(edit_form.disciplina,{'attr':{
                    'class':'form-control',
                    'rows' : '1',
                    'cols' :'40',


                }}) }}
                {{ form_errors(edit_form.disciplina) }}



            </td>
        </tr>

        <tr>
            <td colspan="2">
                {{ form_label(edit_form.requisitos,"REQUISITOS ACADEMICOS") }}
                {{ form_widget(edit_form.requisitos,{'attr':{
                    'class':'form-control',
                    'rows' : '2'

                }}) }}
                {{ form_errors(edit_form.requisitos) }}

            </td>
        </tr>

        <tr>
            <td width="20%">{{ form_label(edit_form.causal,"SELECCIONE CAUSAL") }}
                {{ form_widget(edit_form.causal) }}
                {{ form_errors(edit_form.causal) }}</td>

            <td>{{ form_label(edit_form.causaltxt,"CAUSA QUE ORIGINA LA NECESIDAD") }}
                {{ form_widget(edit_form.causaltxt,{'attr':{
                    'class':'form-control',
                    'rows' : '1'

                }}) }}
                {{ form_errors(edit_form.causaltxt) }}</td>
        </tr>



    </TABLE>
    <br>

    <table width="100%">
        <tbody>
        <tr>
            <td class="table-bordered text-left">
                {{ form_label(edit_form.plaza,"No. DE PLAZA DEFINITVA QUE CUBRE ") }}
                {{ form_widget(edit_form.plaza) }}
                {{ form_errors(edit_form.plaza) }}</td>
            <td colspan="3" width="50%"></td>
        </tr>
        </tbody>
    </table>


    <br>
    <table WIDTH="90%" align="center" class="table table-bordered">
        <tbody>
        <tr>
            <td>

                {{ form_label(edit_form.clavePlaza,"No. DE PLAZA EN PLANTILLA (COD. INTERN)") }}
                {{ form_widget(edit_form.clavePlaza) }}
                {{ form_errors(edit_form.clavePlaza) }}

            </td>

            <td>
               {% if (is_granted(expression('"ROLE_ASISTENTEDIV" in roles'))) %}
                {{ form_label(edit_form.pdfConcurso,"ARCHIVO PDF") }}
                {{ form_widget(edit_form.pdfConcurso) }}
                {{ form_errors(edit_form.pdfConcurso) }}
               {% endif %}
            </td>


        </tr>
        </tbody>
    </table>
    <br>



    <input CLASS="btn bg-danger" type="submit" value="CONFIRMAR" /> &nbsp;&nbsp;

   {% if (is_granted(expression('"ROLE_ADMINISTRADOR" in roles'))) %}
     {{ form_label(edit_form.estatus,"CAMBIO DE ESTUATUS") }}
     {{ form_widget(edit_form.estatus) }}
     {{ form_errors(edit_form.estatus) }}
    {% endif %}

    {{ form_end(edit_form) }}



            <a CLASS="btn bg-warning" href="{{ path('concurso_index') }}">VER TODOS LOS CONCURSOS</a>

        <ul>   <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="BORRAR">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            var max_chars = 1600;
            $('#max').html(max_chars);
            $('#appbundle_concurso_actividades').keyup(function () {
               var chars = $(this).val().length;

               var diff = max_chars - chars;
               $('#contador').html(diff);

            });


        });
    </script>


{% endblock %}
