<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{ asset('/resource/css/tablita_curva.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

<header>
    <table bgcolor="#FFFFFF" cellpadding="3" border="0" width="100%"  >

        <tr>

            <td border="0" width="30%" rowspan="2" valign="bottom"> <img src="{{ asset('/resource/img/encabezado2.jpg') }}"  /></td>
            <td class="clvdipp" align="right" width="69%" valign="bottom"><strong>FI-DIPPPA-03 / 01122015 PÁGINA 1/2 </strong></td>
        </tr>
        <tr>
            <td class="titulo1"  valign="top" > <strong>CONVOCATORIA A CONCURSO DE EVALUACIÓN CURRICULAR</strong></td>
        </tr>
    </table> <br />
</header>

<br />
<table bgcolor="#FFFFFF" border="0" cellpadding="3" width="100%">
    <tbody >
    <tr>
        <td colspan="3" width="35%"></td>
        <th class="celizqH1"><strong>PARA:</strong> </th>

        <td class="celsola1" width="235" align="center">{{ concurso.clasificacion.nombre }}</td>
    </tr>

    </tbody>
</table>
<br /><br />


<table  bgcolor="#FFFFFF" border="0" cellpadding="3" width="100%">
    <tbody >
    <tr>
        <td colspan="2" width="32%"></td>
        <td class="celizqH1 text-right " ><strong> No. EC. &nbsp;</strong></td>

        <td width="20%" border="1" class="celsola1" align="center"><strong> </strong>{{ concurso.numConcurso }}</td>

        <td class="celizqH1" width="10%"  ><strong>FECHA &nbsp;</strong></td>

        <td width="20%" border="1" class="celsola1" align="center">DÍA &nbsp; MES &nbsp; AÑO <br>{% if concurso.fechaPublicacion %}{{ concurso.fechaPublicacion|date('d |  M  | Y') }}{% endif %}</td>

    </tr>

    </tbody>
</table>
<br/>
<p class="text-justify"> CONFORME A LO PREVISTO EN EL REGLAMENTO DE INGRESO, PROMOCIÓN Y PERMANENCIA DEL PERSONAL ACADÉMICO, LA UNIVERSIDAD AUTÓNOMA
    <br>
    METROPOLITANA CONVOCA AL CONCURSO PARA OCUPAR CON CARÁCTER DE TEMPORAL LA SIGUIENTE PLAZA:  </p>
<br/>

<table class="table-curved"   width="99%">
    <tbody >
    <tr>
        <td colspan="2"><strong>CATEGORÍA</strong><br />
            {{ concurso.categoria.nombre }}
        </td>
        <td  colspan="3"> <strong>TIEMPO DE DEDICACIÓN</strong><br>
            {{ concurso.tiempoDedicacion.nombre }}
        </td>
    </tr>

    <tr>
        <td colspan="2"> <strong>NÚMERO DE HORAS</strong> (SÓLO TIEMPO PARCIAL)<BR> <STRONG>DE CLASE:</STRONG>
            {{ concurso.tpHclase }}
        </td>
        <td colspan="2"><strong><BR>DE OTRAS ACTIVIDADES ACADÉMICAS:  </strong>
            {{ concurso.tpHacademia }}
        </td>

        <td ><strong><BR>DE AYUDANTÍA:  </strong>
            {{ concurso.tpHayudantia }}
        </td>
    </tr>
    <tr>
        <td colspan="2"> <strong>UNIDAD</strong><br>
            {{ concurso.unidad }}
        </td>
        <td colspan="3"><strong>DIVISIÓN</strong><br />
            {{ concurso.departamento.division.nombre }}
        </td>
    </tr>
    <tr>
        <td colspan="2"> <strong>DEPARTAMENTO</strong><br>
            {{ concurso.departamento.nombre}}
        </td>
        <td colspan="3"> <strong>ÁREA DEPARTAMENTAL</strong>(EN SU CASO)<br>
            {{ concurso.areaDepartamental }}
        </td>
    </tr>
    <tr>
        <td >
            <strong>SALARIO</strong> <br>
            <strong>DE: $&nbsp;</strong>{{ concurso.salarioA |number_format(2, '.', ',')  }}
        </td>
        <td> <br><br>
           <strong> A: $&nbsp;</strong>{{ concurso.salarioB |number_format(2, '.', ',')  }}
        </td>
        <td colspan="3"><strong>HORARIO</strong><br />
            {{ concurso.horario }}
        </td>
    </tr>
    <tr>

        <td width="20%" align="center"><strong>DURACIÓN DE <br>LA CONTRATACIÓN </strong></td>
        <td width="20%" align="center"><strong>FECHA  DE INICIO <br>DE LABORES </strong></td>
        <td width="20%" align="center"><strong>DÍA &nbsp;  MES &nbsp; AÑO<br></strong> {{ concurso.fechaIn |date('d | M | Y')  }}</td>
        <td width="20%" align="center"><strong>FECHA DE TERMINACIÓN <BR> DE LABORES </strong></td>
        <td width="20%" align="center"><strong>DÍA &nbsp;  MES &nbsp; AÑO<br></strong> {{ concurso.fechaTer |date('d | M | Y') }}</td>

    </tr>





    </tbody>
</table>


<br /> <br />

<table class="table-curved"  bgcbgcolor="#FFFFFF"  width="99%">

    <tr>
        <td  valign="top" height="220" colspan="2">
            <strong>ACTIVIDADES A REALIZAR</strong> <br> <br>
            {{ concurso.actividades |nl2br }}
        </td>
    </tr>

    <tr>
        <td >
            <strong>ÁREA DE CONOCIMIENTO</strong> <br>
            {{ concurso.aConocimiento }}


        </td>
        <td >
            <strong>DISCIPLINA</strong> <br>

            {{ concurso.disciplina }}

        </td>
    </tr>

    <tr>
        <td  valign="top" height="70"  colspan="2">
            <strong>REQUISITOS ACADÉMICOS</strong><small> (para poder participar en los concursos, no deberán encontrarse en los supuestos establecidos en los articulos 137 bis y 137 ter. del RIPPPA</small> <br>
            <br>{{ concurso.requisitos }}


        </td>
    </tr>

    <tr>
        <td valign="top" height="40" colspan="2">
            <strong>CAUSA QUE ORIGINA LA NECESIDAD</strong> <br>
            <br>{{ concurso.causal }}


        </td>
    </tr>

</table>

<br /><br />
<TABLE class="table-curved"   width="99%">
    <tr>
        <td colspan="2">
            <strong>NÚMERO DE PLAZA DEFINITIVA QUE CUBRE: &nbsp;</strong>
            {{ concurso.plaza }}


        </td>
    </tr>

</TABLE>
<br /><br />


    <TABLE align="center" width="99%"  cellpadding="1"  >
        <tr >
            <td width="32%" border="1" align="center" > <strong>JEFE DE DEPARTAMENTO</strong>
                <br /><br /><br /><br /><br /><br />
                {{ concurso.departamento.dpNombreCompleto }} <br />
                <strong>  NOBRE Y FIRMA</strong>
            </td>
            <td width="10px"></td>
            <td width="32%" border="1" align="center"  ><strong>DIRECTOR DE DIVISIÓN  </strong>
                <br /><br /><br /><br /><br /><br />
                {{ concurso.departamento.division.dNombreCompleto }}<br />
                <strong>  NOBRE Y FIRMA</strong>
            </td>
            <td width="10px"></td>
            <td width="32%" border="1" align="center"  ><strong>SUBDIRECTOR DE RELACIONES DE TRABAJO  </strong>
                <br /><br /><br /><br /><br /><br />
                M. EN C. HIPÓLITO LARA RESÉNDIZ <br />
              <strong>  NOBRE Y FIRMA</strong>
            </td>

        </tr>


    </TABLE>
<br /><br />
<table align="center" width="100%">
    <tr>
        <td width="35%"></td><td width="20%" align="left">T1 DIPPPA <br />T2 RECTORÍA GENERAL<br /> T3 CMGVPIPPA</td><td align="left">T4 DIRECTOR DE DIVISIÓN<br /> T5 CMGVPIPPA</td><td width="15%"></td>

    </tr>

</table>

</body>