{% extends 'frontend.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .tableaviso, .thaviso , .tdaviso {
            border: 1px solid red; padding: 15px;}
    </style>

{% endblock %}


{% block content %}

    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <h3>Listado de Concursos de Evaluacion Vigentes </h3>

    {% endif %}

    {% if is_granted(expression('"ROLE_ADMININISTRADOR" in roles or "ROLE_ASISTENTE" in roles or "ROLE_DICTAMINADOR" in roles')) %}

    <a href="{{ path('homepage') }}">HOME</a>
    {% endif %}

    {% if is_granted(expression('"ROLE_ASPIRANTE" in roles')) %}
        <h4>  &nbsp;&nbsp; {{ aspirante.nombre }}  {{ aspirante.apellidoPaterno }}</h4>

        <a href="{{ path('aspirante_aspshow',{'id' : aspirante.rfc}) }}">Regresar a sitio</a>

    {% endif %}
    <table class="tableaviso"  >
        <tr>
            <td class="tdaviso" align="center" ><p>Los datos en este portal son  de caracter Informativo , la Difusion e Informacion OFICIAL de las CONVOCATORIAS
                    <br> se puede consultar en <a href="http://www.uam.mx/convoacad/index.html" target="_blank">UAM.CONVOCATORIAS</a> </p></td>
        </tr>
    </table>


    <div class="row">
        <div class="col-md-8">

        <table width="90%" class="table-condensed">

            <tbody>
            {% for concurso in concursos %}
                <tr>
                    <td>
                        <br>
                        <strong><a href="{{ path('concurso_show', { 'id': concurso.id }) }}">{{ concurso.numConcurso }}</a> {{ concurso.clasificacion.nombre }} {{ concurso.categoria.nombre }} {{ concurso.tiempoDedicacion.nombre }} </strong> <br>
                        <strong>Departamento: {{ concurso.departamento }}</strong> <br>
                        <strong>Salario:</strong> ${{ concurso.salarioA |number_format(2, '.', ',')  }} <br>
                        <strong>Horario: </strong> {{ concurso.horario }} <br>
                        <strong>Fecha de inicio y término: </strong>  {{ concurso.fechaIn |date('d m y')  }} a  {{ concurso.fechaTer |date('d m y') }}<br>
                        <strong>Actividades a realizar:</strong> {{ concurso.actividades }}<br>
                        <strong>Área de Conocimiento:</strong>  {{ concurso.aConocimiento }}<br>
                        <strong>Disciplina:</strong>  {{ concurso.disciplina }}<br>
                        <strong>Requisitos académicos: </strong> {{ concurso.requisitos }}<br>
                        <strong>Causal: </strong> {{ concurso.causal }}<br>

                    </td>
                    <td class="right">

                        <strong>Fecha de Publicación: </strong> {% if concurso.fechaPublicacion %}   {{ concurso.fechaPublicacion|date ('d M Y') }}{% endif %}<br><br>

                        <a href="{{ path('preregistro_show',{'concurso':concurso.id })}}"  class=" btn btn-success btn-xs ">REGISTRARSE </a> <p> antes del {% if concurso.fechaPublicacion %}   {{ concurso.fechaPublicacion|date_modify('+3 day')|date ('d M Y') }}{% endif %}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        {% if not (is_granted(expression('"ROLE_ASPIRANTE" in roles or "ROLE_ASISTENTEDIV" in roles or "ROLE_ASISTENTEDEP" in roles or "ROLE_DICTAMINADOR" in roles  '  ))) %}


<div class="col-md-3 col-md-offset-1">

        <aside>
            <strong>ACCESO A LA PLATAFORMA</strong><br><br>
            <form action="{{ path('login_check') }}" method="post" role="form">
                <div class="form-group">
                    <label for="username">RFC / # Eco. </label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"  placeholder="ASPIRANTES / USUARIOS" />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        <label for="remember_me">No cerrar sesión</label>
                        {# AQUI SE PUEDE REDIRIGIR A LA PAGINA QUE NO QUIERA<input type="hidden" name="_target_path" value="/concurso/" />#}
                    </label>
                </div>
                <div class="pull-right">
                    <input type="submit" name="login" value="Acceder" />
                </div>

            </form>
            <br><br>
            <a  href="{{ path('aspirante_prenew') }}">Solicitar Acceso como ASPIRANTE</a>

        </aside>
</div>
        {% endif %}
    </div>


    <br>


    <footer>
        <br>&copy; {{ 'now' |date('Y') }}- DICTAMINADORA-UAMI
        <br>
        <a href="#">Ayuda</a>
        <a href="#">Contacto</a>
        <a href="#">Privacidad</a>
        <a href="#">Sobre nosotros</a>
    </footer>





<ul>
{% if is_granted(expression('"ROLE_ADMINISTRADOR" in roles or "ROLE_ASISTENTE" in roles')) %}

        <li>
            <a href="{{ path('concurso_new') }}">Create a new entry</a>
        </li>
{% endif %}
    {% if is_granted(expression('"ROLE_ADMINISTRADOR" in roles or "ROLE_ASISTENTE" in roles or "ROLE_DICTAMINADOR" in roles')) %}
        <li> <a href="{{ path('homepage') }}">HOMES</a> </li>
    </ul>
{% endif %}
    {% if is_granted(expression('"ROLE_ASPIRANTE" in roles')) %}

       <a href="{{ path('aspirante_aspshow',{'id' : aspirante.rfc}) }}">Regresar a sitio</a>

    {% endif %}

{% endblock %}
