{% extends 'frontend.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('resource/css/tmmdl.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('resource/css/usershow.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('resource/css/tablaradius.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    {% if is_granted(expression('"ROLE_ASISTENTEDIV" in roles or "ROLE_ASISTENTEDEP" in roles or "ROLE_ADMINISTRADOR" in roles ')) %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <p class="navbar-brand"><strong>Estatus actual: </strong> <a  href="{{ path('concurso_indexest',{'est':concurso.estatus.id}) }}">{{ concurso.estatus }}</a></p>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">



                        <li ><a href="{{ path('concurso_index') }}">Ver Todos <span class=" glyphicon glyphicon-list-alt"></span></a></li>
                        <li><a href="{{ path('cecFORM_pdf', { 'id': concurso.id }) }}" target="_self"
                               rel="popover"  data-container="body" data-toggle= "popover" data-placement="bottom"
                               title= "PARA VER EL ARCHIVO" data-content= "Seleccione el directorio donde se guardara y genera el PDF por default es la carpeta DESCARGAS / DOWNLOAD"
                            >Guardar y Generar en PDF<span class=" glyphicon glyphicon-file"></span></a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted(expression('"ROLE_ASISTENTEDIV" in roles or "ROLE_ADMINISTRADOR" in roles ')) and concurso.estatus.id < 3 %}
                            <li><a href="{{ path('concurso_edit', { 'id': concurso.id }) }}">Editar</a></li>
                        {% elseif  is_granted(expression('"ROLE_ASISTENTEDEP" in roles')) and concurso.estatus.id < 2  %}
                            <li><a href="{{ path('concurso_edit', { 'id': concurso.id }) }}">Editar</a></li>
                        {% endif %}

                        {% if (is_granted(expression('"ROLE_ASISTENTEDIV" in roles'))) and concurso.estatus != 'Reconvocado' %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cambiar Estatus <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for estadosSiguiente in concurso.estatus.estadosSiguientes %}
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#estatusModal"  status="{{estadosSiguiente.id}}" status_nombre="{{ estadosSiguiente.estatus }}" class="link-modal">{{ estadosSiguiente.estatus }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% elseif  is_granted(expression('"ROLE_ASISTENTEDIV" in roles')) and concurso.estatus == 'Reconvocado'  %}
                        <li> <a href="{{ path('reconvocar_edit', { 'concurso': concurso.id }) }}">RECONVOCAR este concurso</a>

                            {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    {% endif %}








    <br>
    <table class="table">

        <tr>

            <td> <img src="{{ asset('resource/img/encabezado.png') }}"  /></td>
            <td class="text-right "><H3>ASPIRANTES que han solicitaron registro <br/> en etapa Publicado </H3> </td>
        </tr>
    </table>





{% endblock %}

{% block content  %}


    <table  width="100%">
        <tbody class="small">
        <tr>
            <td colspan="3" width="50%"></td>
            <th class="table-bordered text-right" >PARA: &nbsp;</th>

            <td class="table-bordered text-center">{{ concurso.clasificacion }}</td></tr>

        </tbody>
    </table>
    <br />
    <table width="100%">
        <tbody class="small">
        <tr>
            <td colspan="3" width="50%"></td>
            <th class="table-bordered text-right" >No. EC. &nbsp;</th>

            <td class="table-bordered text-center"> {{ concurso.numConcurso }}</td>
            <th class="table-bordered text-right" >Fecha de Publicacion: &nbsp;</th>

            <td class="table-bordered text-center">{% if concurso.fechaPublicacion %}{{ concurso.fechaPublicacion|date('d-M-Y') }}{% endif %}</td></tr>

        </tr>
        </tbody>
    </table> <br>
<TABLE class="table table-bordered">
    <TBODY>

    <TR>
        <TD>
            <strong>COMISIÓN DICTAMINADORA DE LA DIVISIÓN DE:</strong><br />
            {{ concurso.departamento.division.nombre }}
        </TD>
    </TR>

    <TR>
        <TD>
            <strong>SECRETARIO ACADÉMICO DE LA DIVISIÓN DE</strong><br />
            {{ concurso.departamento.division.nombre }}
        </TD>
    </TR>
    </TBODY>
</TABLE>

    <br>



    <p><strong> ASPIRANTES:</strong></p>
    {#
    {% if concurso.estatus.id != 4   %}

    <TABLE class="table table-bordered" >

    {% for registro in concurso.registros %}
             <tr>

            <td> {{ loop.index }} .-
                <a href="#" class="modalAsp" data-toggle="modal" data-target="#myModal" idAspirante="{{ registro.aspiranteRfc.rfc }}" idregrfc="{{ registro.id }}">
                    {{ registro.aspiranteRfc.nombre }}  {{ registro.aspiranteRfc.apellidoPaterno }} {{ registro.aspiranteRfc.apellidoMaterno }}
                </a>
                <p id="cosa" idAspirante="2"></p>
            </td>

            <!-- Button trigger modal -->

        </tr>
    {% endfor %}

    </TABLE>


    {% endif %}
     #}
    {{ form_start(form) }}
    {% if is_granted(expression('"ROLE_ASISTENTEDIV" in roles')) and concurso.estatus.id == 3   %}


            <br>


            <div class="row">

                {%  for aspirante in form.registros %}

                <div class="col-md-4" >{{ loop.index }} .- {{ form_widget(aspirante.aspiranteRfc) }}</div>
                <div class="col-md-4">  {% if (aspirante.entregoDocs.vars.attr.nombre is defined ) %}    {{ aspirante.entregoDocs.vars.attr.nombre }}{%  endif %}</div>
                <div class="col-md-2"> {{ form_label(aspirante.entregoDocs,'¿DOCUMENTOS?') }}
                    {{ form_widget(aspirante.entregoDocs) }}
                    {{ form_errors(aspirante.entregoDocs) }}</div>
                    <div class="col-md-2">  {% if (aspirante.entregoDocs.vars.attr.nombre is defined ) %}
                            <a href="{{ path('RAspFORM_pdf',{'id': aspirante.entregoDocs.vars.attr.regID }) }}"><span class="glyphicon glyphicon-save-file">PDF</span></a> {%  endif %}</div>

                {% endfor %}
            </div>






    <div class="panel-heading">{{ form_label(form.registros, 'AGREGAR MÁS ASPIRANTES') }}</div>
    <div class="panel-body">

        <div id="aspirante-container" data-prototipe="{% filter escape %} {% include 'aspirante/form.html.twig' with {'form': form.registros.vars.prototype } %} {% endfilter %}">
            {# % for registro in form.registros  %}
                <div id="aspirante_{{ loop.index0 }}" class="form-group">
                    <table class="table table-condensed" width="100%">
                        <tr>
                            <td width="85%">{{ form_label(registro.aspiranteRfc, 'RFC del Aspirante') }}
                                {{ form_widget(registro.aspiranteRfc, {'attr': {'class': 'form-control'}}) }}
                                <div class="text-danger">{{ form_errors(registro.aspiranteRfc) }}</div></td>
                            <td width="10%" >
                                {{ form_label(registro.entregoDocs, '¿Presento Documentos?') }}
                                {{ form_widget(registro.entregoDocs, {'attr':{'class':'form-control'}}) }}

                                <div class="text-danger">{{ form_errors(registro.entregoDocs) }}</div>
                            </td>
                            <td width="5%" align="center" valign="middle">
                                <button  id="btn_aspirante_{{ loop.index0 }}" type="button" class="delete" aria-label="Close"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>

                    </table>
                </div>

            {% endfor % #}

        </div>

        <div class="form-group">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <a href="#" id="add-another-aspirante" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"> Agregar ASPIRANTE</span></a>
            </div>
        </div>

        <input CLASS="btn bg-danger" type="submit" value="CONFIRMAR" />

    </div>

    {% endif %}


    <table class="table table-bordered">
        <tr>
            <td width="50%"  align="right"><br>ACCIONES </td>
            <td align="left">
                <div class="hidden-print">
                    <ul>

                        <li><a href="{{ path('concurso_indexest', {'est':3}) }}">regresar a CONVOCATORIAS PUBLICADAS <span class="glyphicon glyphicon-thumbs-up"></span></a></li>




                        {% if is_granted(expression('"ROLE_ASISTENTEDIV" in roles')) and concurso.estatus.id == 3   %}

                            <li>
                                <a href="{{ path('aspirante_new') }}" target="_blank" >Crear nuevo ASPIRANTE</a>
                            </li>
                        {% endif %}
                    </ul>
                </div></td>
        </tr>
    </table>



    {{ form_end(form) }}



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" id="tmmdl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Información Entregada por el Aspirante</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


   {#BORRE EL DE HACER UN REGISTRO YA ESTA HECHO!#}

    <br>


    <div class= "modal fade bd-modal-sm" id= "estatusModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" align="center">¿CONFIRMA?</h4>
                </div>
                <div id="modal-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a id="link-confirma" type="button" class="btn btn-primary" href="#">Confirmo Cambio</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->





{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".modalAsp").click(function () {
                var idAspirante = $(this).attr('idAspirante');
                var idregrfc = $(this).attr('idregrfc');
                var lk = '{{ path('registro_show',{ 'id': '__id1__' }) }}';
                var link = lk.replace('__id1__', idregrfc);

               // $("#modal-body").html(idAspirante);

                $("#modal-body").html("<div></div>");
                $.ajax({
                    // la URL para la petición
                    url : link,

                    // la información a enviar
                    // (también es posible utilizar una cadena de datos)
                    data : { id : idAspirante },

                    // especifica si será una petición POST o GET
                    type : 'GET',

                    // el tipo de información que se espera de respuesta
                    dataType : 'html',

                    // código a ejecutar si la petición es satisfactoria;
                    // la respuesta es pasada como argumento a la función
                    success : function(responce) {
                        $("#modal-body").html(responce);
                    },

                    // código a ejecutar si la petición falla;
                    // son pasados como argumentos a la función
                    // el objeto de la petición en crudo y código de estatus de la petición
                    error : function(xhr, status) {
                        $("#modal-body").html("<p>Disculpe hubo un problema</p>");
                    },

                });

            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {


            var registrosCount = {{ form.registros | length }} +1;
            //alert(registrosCount);


            function btnBorraElement(idBtn, idContainer){
                $(idBtn).click(function(){
                    $(idContainer).remove();
                });
            }

            function addArrayElement(idBtn, idCotainer, idElement, count) {
                $(idBtn).click(function(event) {
                    event.preventDefault();

                    var container = $(idCotainer);

                    // graba la plantilla prototipo
                    var newWidget = container.attr('data-prototipe');
                    // sustituye el "__name__" usado en el id y name del prototipo con un
                    // número que es único en tus horarios termina con el
                    // atributo name viéndose como name="contact[horarios][2]"
                    newWidget = newWidget.replace(/__name__/g, count);

                    // crea un nuevo elemento y lo añade a la lista
                    var newLi = $('<div id="'+idElement+count+'" class="form-group">').html(newWidget);
                    newLi.appendTo($(idCotainer));

                    $(newLi).find('.delete').click(function(){
                        newLi.remove();
                    });

                    apiranteAjax();

                    count++;

                });
            }



            {# ASPIRANTES #}

            for(c = 0; c < registrosCount; c++){
                btnBorraElement('#btn_aspirante_'+c, '#aspirante_'+c);
            }

            addArrayElement('#add-another-aspirante', '#aspirante-container' ,'#aspirante_', registrosCount);

            {# END ASPIRANTES #}


        //alert(registrosCount);

             function apiranteAjax() {
                 $('.rfc').bind('input', function () {

                     var cadena = $(this).val();
                     var link = '{{ path('rfc_consulta', {'concurso': concurso.id}) }}';
                     //var lk = '{#{ path('rfc_consulta',{ 'auxrfc': '__cadena__' }) }#}';
                     //var link = lk.replace('__cadena__', cadena);
                     //console.log(link);
                     var elemento = $(this).parent().parent().find(".nombreAsp");
                     //console.log(elemento);


                     //alert(cadena);
                     $.ajax({
                         // la URL para la petición
                         url : link,

                         // la información a enviar
                         // (también es posible utilizar una cadena de datos)
                         data : { 'auxrfc' : cadena },

                         // especifica si será una petición POST o GET
                         type : 'GET',

                         // el tipo de información que se espera de respuesta
                         dataType : 'json',

                         // código a ejecutar si la petición es satisfactoria;
                         // la respuesta es pasada como argumento a la función
                         success : function(nombrerfc) {
                             elemento.html('<p><br/><strong>'+nombrerfc.nombre+'</strong></p>');
                             //console.log(nombrerfc.nombre);
                         },

                         // código a ejecutar si la petición falla;
                         // son pasados como argumentos a la función
                         // el objeto de la petición en crudo y código de estatus de la petición
                         error : function(xhr, status) {
                             elemento.html("<p>EXISTIO UN ERROR</p>");
                         },

                     });








                     //var responde = {"rfc": "cadena", "nombre": "prueba"};

                    // $(this).parent().parent().find('.nombre').html('<p>'+responde.nombre+'</p>');

                 });
             }

        });
    </script>


    <script>
        $(document).ready(function () {
            $('.link-modal').click(function (e) {
                // var edonumec = $('{#{ concurso.numConcurso.vars.id }#}').val();
                // alert(edonumec);
                var statusId= $(this).attr('status');
                var statusnombre= $(this).attr('status_nombre');
                var lk = '{{ path('next_estatus',{ 'concurso': concurso.id ,'nest': '__id1__' }) }}';
                var link = lk.replace('__id1__', statusId);
                $('#modal-body').html('<p>Cambio al estado &hellip; <strong>'+statusnombre+'</strong></p>');
                $('#link-confirma').attr('href', link)
            });
        });
    </script>
    <script>
        $('[rel="popover"]').popover({
            trigger:'hover',
            html:true,
            delay:500,
        });
    </script>


{% endblock %}
