{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('/resource/css/usershow.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/resource/css/tablita_curva.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <h1>Elaboración del DICTAMEN</h1>

    {{ form_start(form) }}


    {% if is_granted(expression('"ROLE_ADMINISTRADOR" in roles or "ROLE_DICTAMINADOR" in roles')) %}



        <br />
        <table width="100%">
            <tbody>
            <tr>
                <td colspan="3" width="50%"></td>
                <th class="table-bordered text-right" >PARA: &nbsp;</th>

                <td class="table-bordered text-center">{{ concurso.clasificacion }}</td></tr>

            </tbody>
        </table>


        <br />

        <table width="100%">
            <tbody>
            <tr>
                <td colspan="3" width="50%"></td>

                <td></td>

                <td class="table-bordered text-center">
                    {{ form_label(form.dictamen.numDictamen,"No.de Dictamen ") }}
                    {{ form_widget(form.dictamen.numDictamen) }}
                    {{ form_errors(form.dictamen.numDictamen) }}</td>

                <td class="table-bordered text-center">
                    {{ form_label(form.dictamen.fechaDictmen,"Fecha") }}
                    {{ form_widget(form.dictamen.fechaDictmen) }}
                    {{ form_errors(form.dictamen.fechaDictmen) }}
                </td></tr>

            </tbody>
        </table>
        <br>
        <strong>DE LA</strong> <br>
        <table class="table-curved" align="center"  width="100%">
            <tr>
                <td>COMISIÓN DITAMINADORA DIVISIONAL DE &nbsp;&nbsp;&nbsp; <strong>{{ concurso.departamento.division.nombre }}</strong></td>
            </tr>
        </table>
        <strong>AL</strong> <br>
        <table class="table-curved" align="center"  width="100%">
            <tr>
                <td>DIRECTOR DE LA DIVISIÓN DE &nbsp;&nbsp;&nbsp; <strong>{{ concurso.departamento.division.nombre }}</strong></td>
            </tr>
        </table>

        <br>
        <p class="small" > RESPECTO A LA CONVOCATORIA A CONCURSO DE EVALUACIÓN CURRICULAR
            No. <strong> <u> &nbsp;&nbsp;EC.{{ concurso.numConcurso }} &nbsp;&nbsp;</u> </strong>  PUBLICADA  EN LA FECHA <BR>  <strong> <u>&nbsp;&nbsp;{% if concurso.fechaPublicacion %}{{ concurso.fechaPublicacion|date('d-M-Y') }}{% endif %}</strong> &nbsp;&nbsp;</u>
           DESPUÉS DE CONSIDERAR A LOS ASPIRANTES REGISTRADOS Y EVALUAR A LOS CONCURSANTES, ESTA <BR> COMISIÓN EMITE EL SIGUIENTE

        </p>
        <h3 align="center">DICTAMEN</h3>

<table class="table-curved" align="center"  width="100%">
    <tbody>
    <tr>
        <td colspan="4"><strong>CONCURSANTE GANADOR</strong><br /></td>
    </tr>
    <tr>
        <td colspan="2"><strong>CATEGORÍA </strong><br />
            {{ concurso.clasificacion }}</td> &nbsp;&nbsp;
        <td>
            {{ form_label(form.dictamen.nivelAsignado,"Y NIVEL ASIGNADO") }}
            {{ form_widget(form.dictamen.nivelAsignado) }}
            <div class="alert-danger">{{ form_errors(form.dictamen.nivelAsignado) }} </div>

         </td>
        <td  colspan="1"> <strong>TIEMPO DE DEDICACIÓN</strong><br>
            {{ concurso.tiempoDedicacion.nombre }}
        </td>
    </tr>
    <tr>
        <td > <strong>UNIDAD</strong><br>
            {{ concurso.unidad }}
        </td>
        <td colspan="2" ><strong>DIVISIÓN</strong><br />
            {{ concurso.departamento.division.nombre }}
        </td>
        <td  > <strong>DEPARTAMENTO</strong><br>
            {{ concurso.departamento.nombre}}
        </td>
    </tr>

    <tr>
        <td colspan="4"> <strong>ÁREA DEPARTAMENTAL</strong><br>
            {{ concurso.areaDepartamental }}
        </td>
    </tr>

    <tr>
    <tr>
        <td colspan="4">

            {{ form_label(form.dictamen.modalidades,"EVALUACIONES REALIZADAS") }}
            {{ form_widget(form.dictamen.modalidades,{'attr':{
                'class':'form-control',
                'rows' : '5'

            }}) }}
            {{ form_errors(form.dictamen.modalidades) }}
        </td>
    </tr>
    <tr>
        <td colspan="4">

            {{ form_label(form.dictamen.argumento,"ARGUMENTOS QUE JUSTIFICAN LA DECISIÓN") }}
            {{ form_widget(form.dictamen.argumento,{'attr':{
                'class':'form-control',
                'rows' : '5'

            }}) }}
            {{ form_errors(form.dictamen.argumento) }}


        </td>
    </tr>

    </tr>
    <tr>
        <td colspan="4">

            {{ form_label(form.dictamen.asesores,"NOMBRE DE ASESORES") }}
            {{ form_widget(form.dictamen.asesores,{'attr':{
                'class':'form-control',
                'rows' : '5'

            }}) }}
            {{ form_errors(form.dictamen.asesores) }}


        </td>
    </tr>

    </tbody></table>


    {% endif %}



    <br>

    <div>
        <br>
        {%  for aspirante in form.registros %}
            {{ aspirante.puntaje.vars.attr.nombre }}
            <br>
            {{ form_label(aspirante.puntaje) }}
            {{ form_widget(aspirante.puntaje) }}
            {{ form_errors(aspirante.puntaje) }}

            {{ form_label(aspirante.prelacion) }}
            {{ form_widget(aspirante.prelacion) }}
            {{ form_errors(aspirante.prelacion) }}

            {{ form_label(aspirante.nivelAsig) }}
            {{ form_widget(aspirante.nivelAsig) }}
            {{ form_errors(aspirante.nivelAsig) }}
            <br>
        {% endfor %}

    </div>
    <br>




        <input type="submit" value="Create" />
    {{ form_end(form) }}




    <ul>
        <li>
            <a href="{{ path('dictamen_index') }}">Listado de todos los DICTAMENES</a>
        </li>
    </ul>



{% endblock %}
