{% extends 'frontend.html.twig' %}

{% block header %}
     <table class="table">
         <tr>
            <td> <img src="{{ asset('resource/img/encabezado.png') }}"  /></td>
             <td class="text-right"><strong>Informacion  <br />  para su Registro a CEC</strong></td>
         </tr>
     </table>
{% endblock %}

{% block content %}
    <h1>Datos del ASPIRANTE</h1>

    <table width="100%">
        <tbody>
        <tr>
            <td colspan="3" width="50%"></td>
            <th class="table-bordered text-right" >Cuenta activada desde: &nbsp;</th>

            <td class="table-bordered text-center">{% if aspirante.createAt %}{{  aspirante.createAt|date('d-M-Y') }}{% endif %}</td></tr>

        </tbody>
    </table><BR>

    <table  align="center" class="table table-bordered">
        <tbody>
        <tr>
            <td colspan="2"><strong>Apellido Paterno</strong><br />
                {{ aspirante.apellidoPaterno }}
            </td>
            <td colspan="2"> <strong>Apellido Materno</strong><br>
                {{ aspirante.apellidoMaterno }}
            </td>
            <td><strong>Nombre</strong><br>
                {{ aspirante.nombre }}
            </td>

        </tr>

        <tr>
            <td><strong>Nacionalidad</strong><br />
                {{ aspirante.nacionalidad }}
            </td>
            <td><strong>RFC</strong><br>

                {{ aspirante.rfc }}
            </td>
            <td><strong>CURP</strong><br>

                {{ aspirante.curp }}

            </td>
            <td><strong>FECHA DE NACIMIENTO</strong><br>
                </td>
            <td>   {% if aspirante.fechaBirthday %}{{  aspirante.fechaBirthday|date('d-M-Y') }}{% endif %}


            </td>
        </tr>

        <tr>
            <td><strong>EDAD</strong><br />
                {{ aspirante.edad }}
            </td>
            <td> <strong>SEXO</strong><br>
                {{ aspirante.sexo }}
            </td>
            <td><strong>ESTADO CIVIL</strong><br>
                {{ aspirante.estadoCivil }}
            </td>
            <td><strong>TELEFONO(S)</strong><br>
                {{ aspirante.telefonos }}
            </td>
            <td><strong>CORREO ELECTRÓNICO</strong><br>
                {{ aspirante.correoElectronico }}
            </td>

        </tr>

        <tr>
            <td colspan="2"><strong>CALLE</strong><br />

                {{ aspirante.calle }}

            </td>
            <td><strong>No.EXT.</strong><br />
                {{ aspirante.noExt }}

            </td>

            <td><strong>EDIF.</strong><br />

                {{ aspirante.edif }}

            </td>
            <td><strong>DEPTO.</strong><br />

                {{aspirante.depto }}

            </td>
        </tr>

        <tr><td colspan="5"><strong>COLONIA, FRACC. O UNIDAD HABITACIONAL</strong><br />

                {{ aspirante.coloniaFracc }}

            </td></tr>

        <tr>
            <td colspan="2"><strong>DELEGACIÓN O MUNICIPIO:</strong><br />

                {{ aspirante.delegMunc }}

            </td>
            <td colspan="2"><strong>ESTADO</strong><br />

                {{ aspirante.estado }}

            </td>
            <td><strong>CÓDIGO POSTAL</strong><br />

                {{ aspirante.codPost }}

            </td>

        </tr>

         </tbody>
    </table>
<br>

    <table width="100%">
        <tbody>
        <tr>

            <th class="table-bordered text-left" >Número de Empleado <br> (si fue o es empleado  de la UAM)</th>

            <td class="table-bordered text-center">{{ aspirante.numeroEconomico }}</td>
        <td colspan="3" width="50%"></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <h3>C.E.C</h3>
    <ul>

        <li>
            <a href="{{ path('concurso_index') }}">Listado vigente de CEC</a>
        </li>
        <li>
            <a href="{{ path('registro_index') }}">Listado de Convocatorias donde me Registre</a>
        </li>
    </ul>

    <h3>ASPIRANTE</h3>
    <ul>
        <li>
            <a href="{{ path('aspirante_edit', { 'id': aspirante.rfc }) }}">Editar mis Datos</a>
        </li>

        {#
       <li>
            <a href="{{ path('medicard_pdf', { 'id': aspirante.rfc }) }}">Tarjeta Med</a>
        </li>
        #}
        <li>
            <a href="{{ path('logout') }}">Cerrar Sesion </a>
        </li>

    </ul>
{% endblock %}
